@charset "UTF-8";

/*

   Em html é id = em css é # (só pode um elemento)
   Em html é class = em css é . (pode varios elementos)

*/



body {
    background-color: rgb(194, 255, 194);
    font-family: Arial, Helvetica, sans-serif;

}

#principal {
    color:rgba(118, 248, 98, 0.94); 
    text-align: center;
    background-color: rgba(37, 55, 196, 0.411);
}


h2 {
    color: rgb(0, 255, 0);
    text-align: center;
}


.texto {
    text-align: justify;
}

.basico{
    color: darkorange;
    font-weight: 200;
}

.intermediario{
    color:blueviolet ;
    font-weight: 200;
}

.avançado{
    color: rgb(139, 56, 183);
    text-align: center;
    
}

.destaque{
    background-color: rgba(72, 223, 82, 0.466);
    color:red;
    text-align: center;
}
