@charset  "UTF-8";


body{
    background-color: rgb(182, 195, 194)
}

header> h1 {
    font-family:'Courier New', Courier, monospace;
    color: rgb(19, 204, 22);
}

header> nav > a {
    color: white;
    text-decoration: none;
    borde;
    
}

header {
    background-color: rgba(98, 0, 255, 0.745);

}